{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Unicorn">
        <link rel="stylesheet" type="text/css" href="{% static 'blogsite/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'blogsite/blogsite.css'}"> -->
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% include 'blogsite/header.html' %}

        <div class="container">
            {% block body %}
    
            {% endblock %}
    
            {% include 'blogsite/footer.html' %}
        </div>
    
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="{% static 'blogsite/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
    </body>
</html>