{% load static %}
<div class="container">
    <footer class="my-5 pt-4 text-muted text-center text-small border-top">
        <img class="mb-1" src="{% static 'RETest/icon/icon_512x512@2x.png' %}" alt="icon" width="30" height="30">
        <p class="mb-1">&copy; 2019-2020 Unicorn.org</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
            <li class="list-inline-item"><a href="#">Github</a></li>
        </ul>
    </footer>
</div>
